<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ensure.That" version="10.1.0" targetFramework="net472" />
  <package id="MyCouch" version="7.6.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net472" />
</packages>